html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

h1 {
    color: teal;
    font-weight: bolder;
    text-align: center;
}
.container {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
}

.numbers {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to bottom right, blue, white);
    border-radius: 70px;
    float: right;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
}

.mainNum {
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 150px;
    text-align: center;
}

button {
    width: 150px;
    border-radius: 60px;
    border-style: hidden;
    background-image: linear-gradient(to bottom right, #5e81ff, #ffaaab);
    color: gainsboro;
    outline: none;
    box-shadow: 10px 10px 5px grey;
}